---
title: Snippets
description: "This is an about page"
permalink: "snippets"
---

<div id="start">

<%= partial 'templates/components/markdown', locals: { markdown_text: File.read('source/pages/01-introduction.html.erb')} %>

This page draws on content from:

</div>

<%= partial 'templates/components/cardset', locals: { my_filters: '(item[:title]&.match(/Turing responsible|national statement|^IEEE|EC guidelines on AI in education for educators|ethics in the scholarship of teaching and learning|markham/i) || item[:Description]&.match(/Turing responsible|national statement|Autonomous and intelligent technical systems are|EC guidelines on AI in education for educators|ethics in the scholarship of teaching and learning|markham/i) ) && item[:category] == "Sources"' } %>

<div id="about" >

<%= link_to "Previous section", "#introduction", class: "index-link" %>

<%= partial 'templates/components/markdown', locals: { markdown_text: File.read('source/pages/02-respect-for-persons.html.erb')} %>

</div>

<h2>This section draws on principles discussed in</h2>
<%= partial 'templates/components/cardset', locals: { my_filters: '(item[:title]&.match(/National Statement|Schiff|Khan|Jobin|Fjeld|Turing responsible design and implementation of AI systems|High-level expert group on AI|EC guidelines on AI in education for educators|^IEEE/i) || item[:Description]&.match(/Turing responsible design and implementation of AI systems|High-level expert group on AI|EC guidelines on AI in education for educators|^IEEE/i) ) && item[:category] == "Sources"' } %>

<%= link_to "Previous section", "#respect-for-persons", class: "index-link" %>

<h3>Particular Challenges, Cases, and Strategies</h3>

These are strategies that relate to respect for persons, autonomy, informed consent, agency, and protection of vulnerable persons.

<% keys_content = partial "templates/components/getkeys", locals: { my_filters: "item[:title]&.match?(/Respect for persons|Autonomy|informed consent|agency|protection of vulnerable persons/i) && item[:category] == 'Principles'" } %>


<%= partial "templates/components/cardset", locals: { my_filters: "item[:category] == 'Strategies' && (item[:Principles].is_a?(Array) ? item[:Principles]&.compact&.any? { |principle| principle&.match?(/#{keys_content}/i) } : item[:Principles]&.match?(/#{keys_content}/i))" } %>
