<% color_class = case type
  when 'information' then 'teal'
  when 'question' then 'yellow'
  when 'link' then 'blue'
  when 'alert' then 'red'
  else 'teal'
end %>

<% icon = case type
  when 'question' then "<div class='py-1'><svg class='fill-current h-6 w-6 text-#{color_class}-500 mr-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M7.5 1a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zm0 12a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm1.55-8.42a1.84 1.84 0 0 0-.61-.42A2.25 2.25 0 0 0 7.53 4a2.16 2.16 0 0 0-.88.17c-.239.1-.45.254-.62.45a1.89 1.89 0 0 0-.38.62 3 3 0 0 0-.15.72h1.23a.84.84 0 0 1 .506-.741.72.72 0 0 1 .304-.049.86.86 0 0 1 .27 0 .64.64 0 0 1 .22.14.6.6 0 0 1 .16.22.73.73 0 0 1 .06.3c0 .173-.037.343-.11.5a2.4 2.4 0 0 1-.27.46l-.35.42c-.12.13-.24.27-.35.41a2.33 2.33 0 0 0-.27.45 1.18 1.18 0 0 0-.1.5v.66H8v-.49a.94.94 0 0 1 .11-.42 3.09 3.09 0 0 1 .28-.41l.36-.44a4.29 4.29 0 0 0 .36-.48 2.59 2.59 0 0 0 .28-.55 1.91 1.91 0 0 0 .11-.64 2.18 2.18 0 0 0-.1-.67 1.52 1.52 0 0 0-.35-.55zM6.8 9.83h1.17V11H6.8V9.83z'/></svg></div>".html_safe
  when 'information' then "<div class='py-1'><svg class='fill-current h-6 w-6 text-#{color_class}-500 mr-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 22C6.48 22 2 17.52 2 12 2 6.48 6.48 2 12 2s10 4.48 10 10c0 5.52-4.48 10-10 10zm0-18C7.59 4 4 7.59 4 12s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm.5 13h-1v-1h1v1zm0-3h-1V7h1v7z'/></svg></div>".html_safe
  when 'link' then "<div class='py-1'><svg class='fill-current h-6 w-6 text-#{color_class}-500 mr-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M4.5,19.5h0a3,3,0,0,1,0-4.24L6.76,13A3,3,0,0,1,11,13h0a3,3,0,0,1,0,4.24L8.74,19.5A3,3,0,0,1,4.5,19.5ZM17.24,11,20,8.24A3,3,0,0,0,20,4h0a3,3,0,0,0-4.24,0L13,6.76A3,3,0,0,0,13,11h0A3,3,0,0,0,17.24,11Z'/></svg></div>".html_safe
    when 'alert' then "<div class='py-1'><svg class='fill-current h-6 w-6 text-#{color_class}-500 mr-4' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 22C6.48 22 2 17.52 2 12 2 6.48 6.48 2 12 2s10 4.48 10 10c0 5.52-4.48 10-10 10zm0-18C7.59 4 4 7.59 4 12s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm.5 13h-1v-1h1v1zm0-3h-1V7h1v7z'/></svg></div>".html_safe
  else ''.html_safe
end %>


<div class='bg-<%= color_class %>-100 border-t-4 border-<%= color_class %>-500 rounded-b text-<%= color_class %>-900 px-4 py-3 shadow-md' role='alert'>
  <div class='flex'>
    <div class='py-1'>
      <%= icon %>
    </div>
    <div>
      <% if title.present? %>
        <p class='font-bold'><%= title %></p>
      <% end %>
      <% if text.present? %>
        <p class='text-sm'><%= text %></p>
      <% end %>
    </div>
  </div>
</div>


  <style>
    /* Custom styles for the specific partial */
    .bg-teal-100 {
      background-color: #E6FFFA;
    }

    .border-teal-500 {
      border-color: #38B2AC;
    }

    .text-teal-900 {
      color: #234E52;
    }

    .bg-yellow-100 {
      background-color: #FFFFF0;
    }

    .border-yellow-500 {
      border-color: #D69E2E;
    }

    .text-yellow-900 {
      color: #78350F;
    }

    .bg-blue-100 {
      background-color: #EBF8FF;
    }

    .border-blue-500 {
      border-color: #3182CE;
    }

    .text-blue-900 {
      color: #1A365D;
    }

        .bg-red-100 {
      background-color: #fee2e2;
    }

    .border-red-500 {
      border-color: #ef4444;
    }

    .text-red-900 {
      color: #7f1d1d;
    }
  </style>
